// Specific CSS for your home-page
.home-container {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
  padding: 25px 10px 25px 0px;
  margin: 0px;
}
.btn-flat {
  color: white;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 4px;
  background: #1a508b;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.1);

}
.btn-flat:hover {
  background: #B3DEEC;
  color: white;
  transition: background 0.3s ease;
}

.action {
  padding-left: 200px;
}

