// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1a508b;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.1);

}
.btn-flat:hover {
  background: #B3DEEC;
  color: white;
  transition: background 0.3s ease;
}

.action {
  padding: 150px;
}
