.profile-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #f9f6f7;
}
.fas.fa-user-circle {
  font-size: 150px;
  color: #1A518B;
  border-radius: 50%;
}
.profile-image p {
  text-align: center;
}
.profile-image a {
  text-decoration: none;
}
.profile-image a:hover {
  color: #f9f6f7;
}

.profile-avatar-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile-titles {
  color: white;
  margin: 10px;
}

.profile-titles {
  text-align: center;
}

.add-robot a {
  text-decoration: none;
}

.add-robot a:hover {
  color: #f9f6f7
}

.update {

  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.profile-name {
  display: flex;
}
.profile-name h3 {
  font-size: 100px;
  color: #f9f6f7;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.2);
}
.index-image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

ol {
  list-style-type: none;
}

.appointment-info li {
  color: #f9f6f7;
}

.appointment-info {
  padding: 20px;
}

.appointment-info {
  padding: 20px;
}
.appointment-info a {
  text-decoration: none;
}
.appointment-info a:hover {
  color: #f9f6f7;

}

.card-profile {
  width: 60%;
}

.card-holder.profile-holder {
  background-color: rgba(0,0,0,0.9);
}
