.profile-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #f9f6f7;
}

.profile-avatar-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile-titles {
  color: white;
  margin: 10px;
}

