
<div class="container">
<h2>List of snazzy wazzy cleaning robots</h2>
  <div class="row">

    <% @robots.each do |robot| %>
    <ul>
      <li>
        <p>
          Name: <%=robot.name  %>
        </p>
      </li>
      <li>
        <p>
          Function: <%=robot.function %>
        </p>
      </li>
      <p>
        <li>
         Rating: <%=robot.rating %>
        </p>
      </li>
    </ul>
    <%end %>
  </div>
</div>

