<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@robot) do |f| %>
        <%= f.input :name %>
        <%= f.submit "create a robot", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

