<div class="holder">
  <div class="robo-background">
    </div>
    <div class="card-holder">
      <h1>hellp test</h1>
      <%= @robot.name %>
      <% if @robot.photos.key.present? %>
        <%= cl_image_tag @robot.photos.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= image_tag "picture", alt: "alttext" %>
      <%= render "appointments/form", locals: { robot: @robot, appointment: Appointment.new } %>
    </div>
</div>

