
<h1>hellp test</h1>
<%= @robot.name %>
<%= cl_image_tag @robot.photos.key, height: 300, width: 400, crop: :fill %>
<%= render "appointments/form", locals: { robot: @robot, appointment: Appointment.new } %>
