.holder {
  background-color: #F4F4F4;
}

.robo-background {
  height: 33vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dek4vhpvr/image/upload/v1614250226/venture-capitalist-supercomputer_rvbmtv.jpg')
}
.card-holder {

  margin: -100px auto 10px;
  width: 80%;
  background-color: grey;
  border: 2px black solid;
}
