.holder {
  min-height: 100vh;
  background-color: #f9f6f7;
}

.robo-background {
  height: 33vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dek4vhpvr/image/upload/v1614250226/venture-capitalist-supercomputer_rvbmtv.jpg')
}
.robo-background-index {
  height: 33vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dek4vhpvr/image/upload/v1614250226/venture-capitalist-supercomputer_rvbmtv.jpg')
}
.card-holder {
  margin: -100px auto 10px;
  width: 80%;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 1px 1px 15px 15px rgba(0,0,0,0.1);
}
