<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dek4vhpvr/image/upload/v1614250226/venture-capitalist-supercomputer_rvbmtv.jpg');">
  <div class="home-container">
    <div class="action">
      <h1>RENT MY ROBOT</h1>
      <p>Hire the best in AI service Androids!</p>
      <%= link_to "Book your favorite Robot", robots_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
