h2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #3188C0;
}

.content {
  background-color: rgba(179, 188, 196, 0.5);
  border-radius: 10px;
  opacity: 0,2px;
  text-align: center;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}


.btn-primary {
  align: center;
  background-color: #3188C0 !important;
  border-color: #3188C0 !important;
}

.formlabel {
  color: #3188C0;

}

.newcontainer {
  opacity: 0,2px;
  width: 70%;
  padding: 8px;
  align: center;
  border-radius: 5px;
  margin: -40px auto 2px;
  background-color: rgba(179, 188, 196, 0.5);
}

