h2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #3188C0;
}

.container-new {
  background-color: #B3BCC4;
  border-radius: 10px;
  opacity: 0,2px;
  text-align: center;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

.btn-primary {
  align: center;
  background-color: #3188C0 !important;
  border-color: #3188C0 !important;
}

.formlabel {
  color: #3188C0;

}
.newcontainer {
  opacity: 0,2px;
  width: 70%;
  padding: 8px;
  align: center;
  border-radius: 5px;
  margin: -40px auto 2px;
  background-color: rgba(179, 188, 196, 0.5);
}

.card-show {
  border: 1px solid blue;
  width: 70%;
  border-radius: 5px;
  background-color: rgba(179, 188, 196, 0.5);
  min-height: 562px;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.image-container {
  padding: 8px;
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;

}
.robot-details {
  width: 50%;
  padding: 80px 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-form {
  height: 100px;
  width: 100%;
}

.robo-title {
  font-weight: bold;
  font-size: 32px;
  color: #3188C0;
}

.robo-subtitle {
  padding-bottom: 5px;
}

.btn-primary {
  background-color: #3188C0 !important;
  border-color: #3188C0 !important;
}

.form-control {
  padding: 0;
  font-size: 10px;
}

.profile-name {
  diplay: flex;
}
