
.card-show {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.08);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.06);
  width: 70%;
  margin: auto;
}

.flex-container {
  display: flex;
  padding: 15px;
  margin-top: 10px;
}

.image-container {
  width: 50%;
}

.image-container img {
 width: 100%
}


.robot-details {
  width: 50%;
  padding-left: 15px;
}
.robot-details p {
  font-weight: lighter;
}

.robo-title {
  font-weight: bolder;
  font-size: 32px;
  color: #1A518B;
  font-family: arial;
  text-shadow: 1px 1px rgba(0,0,0,0.06);
  margin: 5px 5px 0px 0px;
}

.robo-subtitle {
  padding-bottom: 5px;
}

.form-control {
  padding: 0;
  font-size: 10px;
}

