.footer {
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  width: 100%;
  background-color: #f9f6f7;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #1a508b;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #b2deec;
}
.footer .fa-robot {
  color: #1a508b;
}
.footer-copyright {
  color: grey;
}
