.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  height: 40px;
}

.btn .btn-sm .btn-outline-secondary {
  font: 800;
}

.nav-item.dropdown {
  list-style-type: none;
}
